<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Full Slider - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/assets/css/full-slider.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- navbar -->
    <%= render 'homenave' %>
  
    <!-- Full Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('https://cdn1.cheapflights.com/static/images/defaultRegion.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Caption 1</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('https://media-cdn.tripadvisor.com/media/photo-o/0e/cd/51/aa/delta-air-lines.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Caption 2</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('http://www.beautifullife.info/wp-content/uploads/2014/11/09/general.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Caption 3</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>

    <!-- Page Content -->
    <div class="container">
     
        <div class="row">
            <div class="col-lg-12">
                <div class="style">
                   <h1>Start planing the perfect trip</h1>
                   
                   <hr>
                
                
                
                    <h2 class="mid">overview about the most poupuler countries for tourism </h2>
                
                    <h2>France </h2>
                   
                    <img src="http://www.planetware.com/photos-large/F/france-eiffel-tower.jpg" height="417 px" width="630" >
                    
                    <p>Paris, the city of lights, has so much to offer in terms of culture, food, and shopping that it can seem overwhelming when planing your trip to Paris. On one hand, you want to experience Paris as a local and on the other you don’t want to miss the Parisian landmarks</p>
                    <ul>
                        <p class="sort">Top-Rated Tourist Attractions in France</p>
                        <div class="sort2" >
                        <li class="sort">Eiffel Tower</li>
                        <li class="sort">Louvre Museum</li>
                        <li class="sort">Palace of Versailles</li>
                        <li class="sort">Mont Saint-Michel</li>
                        <li class="sort"> Loire Valley Châteaux</li>
                        <li class="sort">Provence</li>
                        <li class="sort">Chamonix-Mont-Blanc</li>
                        <li class="sort"> Alsace Villages</li>
                        </div>
                    </ul>
                
                     
            
                
                <br>
               
                    <h2>England</h2>
                    <div class="style3">
                    <img src="http://www.planetware.com/photos-large/ENG/england-tower-of-london.jpg" height="417 px" width="630" >
                    </div>
                    <p>One of the most visited countries in the world, England offers travellers endless possibilities when it comes to fun things to see and do. Part of the beautiful British Isles, this small but influential country is simply bursting with fascinating history, exciting cities and rich cultural traditions. Historic sites are found at every turn, from old castles dotting the picturesque countryside and colleges dating back to the Middle Ages to ancient Roman sites and centuries old royal palaces.

England is also extremely easy to get around, and whether you choose to tour the country by car or public transport, you're guaranteed an unforgettable experience</p>

              <ul >
                  <p class="sort">Top-Rated Tourist Attractions in England</p>
                  <li class="sort">Stonehenge</li>
                  <li class="sort">Tower of London</li>
                  <li class="sort">The City of Bath</li>
                  <li class="sort">Windsor Castle</li>
                  <li class="sort">Historic Yorkshire</li>
                  <li class="sort">Cambridge University</li>
                  <li class="sort">Lake District National Park</li>
                  <li class="sort">Canterbury Cathedral</li>
              </ul>
                </div>
           
        </div>
            </div>
        <hr>

        <!-- Footer -->
        <footer>
            <div class="last">
            <div class="row">
                <div class="col-lg-12">
                 
                    <div class="col-md-4">
                        <p>spicial offers</p>
                    </div>
                     <div class="col-md-4">
                        <p>more information</p>
                    </div>
                     <div class="col-md-4">
                        <p>help & contact</p>
                    </div>
                   
                </div>
            </div>
            <!-- /.row -->
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/assets/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
