





.all{
   
}

.footer{
  
}

.style{
   
   
}




.style3{
    
   
   
}



.last{
    width :100%;
    
}

.dec{
    text-decoration : none;
}

.link{
    float : left;
    
}
.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}
.navbar-nav > link{
  padding-left:30px;
  padding-right:30px;
}
h1 {
    text-align : center;
}
.mid {
    text-align : center;
}
img{
    width: 100%;
}
